<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bookings Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="/static/js/app.js"></script>

</head>
<!--<body ng-app="myApp">-->
<body>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">GoKiteBaja</div>
        </div>
        <ul class="nav navbar-nav">
            <!--<li class="active"><a href="/bookings/">Bookings</a></li>-->
            <li><a href="/bookings">Bookings</a></li>
            <li><a href="/bookings/requests">Booking Requests</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">History
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/bookings/confirms">Confirmed</a></li>
                    <li><a href="/bookings/declines">Declined</a></li>
                </ul>
            </li>
            <li><a href="/bookings/calendar">Calendar</a></li>
            <li><a href="/bookings/edit-calendar">Edit Availability</a></li>
        </ul>
        <!--<ul class="nav navbar-nav">-->
            <!--<li><a href="/bookings/requests">Booking Requests</a></li>-->
        <!--</ul>-->
        <!--<ul class="nav navbar-nav">-->
            <!--<li><a href="/bookings/confirms">Confirmed (Booking Requests)</a></li>-->
        <!--</ul>-->
        <!--<ul class="nav navbar-nav">-->
            <!--<li><a href="/bookings/declines">Declined (Booking Requests)</a></li>-->
        <!--</ul>-->
        <!--<ul class="nav navbar-nav">-->
            <!--<li><a href="/bookings/">Bookings</a></li>-->
        <!--</ul>-->
        <!--<ul class="nav navbar-nav">-->
            <!--<li><a href="/bookings/edit-calendar">Manage Calendar</a></li>-->
        <!--</ul>-->

    </div>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
