<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bookings Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css" />
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="/static/js/app.js"></script>

</head>
<body>
<!--<div class="navbar navbar-default">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--&lt;!&ndash;<div class="navbar-brand">GoKiteBaja</div>&ndash;&gt;-->
            <!--<a class="navbar-brand" href="#">-->
                <!--<img alt="GoKiteBaja" src="/static/img/gokitebaja-logo-header.png">-->
                <!--&lt;!&ndash;<img alt="GoKiteBaja" src="/static/img/logo-badge.png">&ndash;&gt;-->
            <!--</a>-->
        <!--</div>-->
        <!--<ul class="nav nav-pills" role="tablist">-->
            <!--&lt;!&ndash;<li><a href="/bookings/requests" >Booking Request Emails</a></li>&ndash;&gt;-->
            <!--<li class="dropdown">-->
                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">Booking Request Emails-->
                    <!--<span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="/bookings/inbox">Inbox</a></li>-->
                    <!--<li><a href="/bookings/confirms">Confirmed</a></li>-->
                    <!--<li><a href="/bookings/declines">Declined</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="/bookings">Bookings</a></li>-->
            <!--<li><a href="/bookings/calendar">Calendar</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<div class="navbar-header">
<!--<div class="navbar-brand">GoKiteBaja</div>-->
<a class="navbar-brand" href="#">
<img alt="GoKiteBaja" src="/static/img/gokitebaja-logo-header.png">
<!--<img alt="GoKiteBaja" src="/static/img/logo-badge.png">-->
</a>
</div>

<ul class="topnav" id="myTopnav">
    <li><a href="/bookings/inbox">Booking Email Inbox</a></li>
    <li><a href="/bookings/">Bookings</a></li>
    <li><a href="/bookings/calendar">Calendar</a></li>

    <div class="pull-right">
        <!--{% if nick_name %}-->
            Welcome! <li><a href="/bookings/logout">Sign Out</a></li>
        <!--{% else %}-->
            <li><a href="/bookings/logout">Sign Out</a></li>
        <!--{% endif %}-->
    </div>
    <li class="icon">
        <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
    </li>
</ul>

<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
<script>
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}



// "active" function works, but link stops working!
//$('.navbar li').click(function(e) {
//    $('.navbar li.active').removeClass('active');
//    var $this = $(this);
//    if (!$this.hasClass('active')) {
//        $this.addClass('active');
//    }
//    e.preventDefault();
//});
</script>
