{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

{% block content %}
<h3>{{action}} booking</h3>

<form method="POST" action="" name="BookingForm">
    {{ form.hidden_tag() }}
    <dl>
        {{ render_field(form.unit_id) }}
        {{ render_field(form.begin_on) }}
        {{ render_field(form.end_on) }}
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.email) }}
    </dl>
    <button type="submit" class="btn btn-success">Save</button>
</form>


<!--<form method="POST" enctype="multipart/form-data">-->
    <!--{{ form.hidden_tag() }}-->

    <!--<div class="form-group">-->
        <!--<label for="unit_name">Unit Name</label>-->
        <!--<input type="text" name="unit_name" id="unit_name" value="{{booking.unit_name}}" class="form-control"/>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label for="unit_id">Unit Id (Enter 12 for now)</label>-->
        <!--<input type="text" name="unit_id" id="unit_id" value="{{booking.unit_id}}" class="form-control"/>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label for="begin_on">Begin Date</label>-->
        <!--<input type="text" name="begin_on" id="begin_on" value="{{booking.begin_on}}" class="form-control"/>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="end_on">End Date</label>-->
        <!--<input type="text" name="end_on" id="end_on" value="{{booking.end_on}}" class="form-control"/>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="status">Status</label>-->
        <!--<input type="text" name="status" id="status" value="{{booking.status}}" class="form-control"/>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="first_name">First Name</label>-->
        <!--<input type="text" name="first_name" id="first_name" value="{{booking.first_name}}" class="form-control"/>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="last_name">Last Name</label>-->
        <!--<input type="text" name="last_name" id="last_name" value="{{booking.last_name}}" class="form-control"/>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="email">Email</label>-->
        <!--<input type="text" name="email" id="email" value="{{booking.email}}" class="form-control"/>-->
    <!--</div>-->
    <!--<button type="submit" class="btn btn-success">Save</button>-->
<!--</form>-->

{% endblock %}



