{% extends "base.html" %}

{% block content %}

<h3>Booking Information</h3>

<div class="btn-group">
    <a href="/bookings/{{booking.id}}/edit" class="btn btn-primary btn-sm">
        <i class="glyphicon glyphicon-edit"></i>
        Edit booking
    </a>
    <a href="/bookings/{{booking.id}}/delete" class="btn btn-danger btn-sm">
        <i class="glyphicon glyphicon-trash"></i>
        Delete booking
    </a>
</div>

<div class="media">
    <!--<div class="media-left">-->
        <!--<img class="booking-image" src="http://placekitten.com/g/128/192">-->
    <!--</div>-->
    <div class="media-body">
        <h4 class="booking-title">
            unit_id = {{booking.unit_id}}
            <small>Display unit name here</small>
        </h4>
        <h5 class="booking-begin_on">{{booking.begin_on}}</h5>
        <h5 class="booking-end_on">{{booking.end_on}}</h5>
        <p>{{booking.status}}</p>
        <p>{{booking.email}}</p>
        <p>{{booking.first_name}}</p>
        <p>{{booking.last_name}}</p>
        <p>{{booking.email}}</p>
        <p>{{booking.is_admin}}</p>
    </div>
</div>

{% endblock %}
