{% extends "base.html" %}
{% block content %}

<div class="page-header text-center ">
    <h2>Booking Request Emails</h2>
</div>


<!--<section class="bannerarea">-->
    <!--<h2 class="section_header">Booking Request Emails</h2>-->
<!--</section>-->

<h2><span class="label label-primary">Inbox</span></h2>

<ul>
    <li>When you <strong>confirm</strong>, you will have an opportunity to change the unit and the dates when creating booking.
    <li>When you <strong>decline</strong>, you will have an opportunity to add personal message such as suggesting different dates to the email to the customer.</li>
    <li>An <strong>email</strong> will be sent to the customer automatically to notify the decision and you will also get a copy of the email.
</ul>

<div class="col-xs-12" style="height:15px;"></div>

{% include "booking-request/list.html" %}

<hr/>
<h2><span class="label label-primary">Confirmed Recently</span>
    <small><a href="/bookings/confirms">
        Full view
    </a></small>
</h2>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Unit (Type)</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Guests</th>
        <th>Ave Rate<br/> per night</th>
        <th>Name</th>
        <th>Date Requested</th>
        <th>Date Confirmed</th>
    </tr>
    </thead>
    <tbody>
    {% for booking_request in confirms %}
    <tr>
        <td>{{booking_request.unitgroup_name}}</td>
        <td>{{booking_request.checkin}}</td>
        <td>{{booking_request.checkout}}</td>
        <td>{{booking_request.guests}}</td>
        <td>USD {{booking_request.avg_price}}</td>
        <td>{{booking_request.first_name}} {{booking_request.last_name}}</td>
        <td>{{booking_request.created_on}}</td>
        <td>{{booking_request.updated_on}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<hr/>
<h2><span class="label label-primary"> Declined Recently</span>
    <small><a href="/bookings/declines">
        Full view
    </a></small>
</h2>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Unit (Type)</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Guests</th>
        <th>Ave Rate<br/> per night</th>
        <th>Name</th>
        <th>Date Requested</th>
        <th>Date Declined</th>
    </tr>
    </thead>
    <tbody>
    {% for booking_request in declines %}
    <tr>
        <td>{{booking_request.unitgroup_name}}</td>
        <td>{{booking_request.checkin}}</td>
        <td>{{booking_request.checkout}}</td>
        <td>{{booking_request.guests}}</td>
        <td>USD {{booking_request.avg_price}}</td>
        <td>{{booking_request.first_name}} {{booking_request.last_name}}</td>
        <td>{{booking_request.created_on}}</td>
        <td>{{booking_request.updated_on}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}