{% extends "base.html" %}
{% block content %}

<h2> Booking Requests </h2>
<a href="/bookings/add" class="btn btn-success btn-sm">
    <i class="glyphicon glyphicon-plus"></i>
    Add booking
</a>


<div class="container">
    <h2>Waiting for Your Response</h2>
    <p>When you confirm, a confirmation email will be sent to the customer.</p>
    <p>When you decline, you will have opportunity to add personal message such as suggesting different dates to the email to the customer.</p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Unit (Type)</th>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Guests</th>
            <th>Ave Price<br/> per night</th>
            <th>Name</th>
            <th>Date Requested</th>
            <th>Confirm</th>
            <th>Decline</th>
        </tr>
        </thead>
        <tbody>
        {% for booking_request in requests %}
        <tr>
            <td>{{booking_request.unitgroup_name}}</td>
            <td>{{booking_request.checkin}}</td>
            <td>{{booking_request.checkout}}</td>
            <td>{{booking_request.guests}}</td>
            <td>USD {{booking_request.avg_price}}</td>
            <td>{{booking_request.first_name}} {{booking_request.last_name}}</td>
            <td>{{booking_request.created_on}}</td>
            <td><button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#confirmModal" data-id="{{booking_request.id}}">Confirm</button></td>
            <!--<td><a href="/bookings/add" class="btn btn-success btn-sm">Confirm</button></a>-->
            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#declineModal">Decline</button></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- confirm Modal -->
    <div class="modal fade" id="confirmModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Booking Request</h4>
                </div>
                <div class="modal-body">
                    <p>Feel free to add a message here. Your message will be added to the confirmation email.</p>
                    <form id="myForm" method="post">
                            <label for="comment">Comment:</label>
                            <input type="text" class="form-control" name="comment" id="comment">
                            <input type="hidden" name="bookingRequestId" id="bookingRequestId" value=""/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="myFormSubmit" type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- decline Modal -->
    <!--<div class="modal fade" id="declineModal" role="dialog">-->
        <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <!--<h4 class="modal-title">Decline Booking Request</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<p>Feel free to add a message here. You can suggest different dates or different units. Your message will be added to the email.</p>-->
                <!--</div>-->
                <!--<form>-->
                    <!--<div class="form-group">-->
                        <!--<label for="comment">Comment:</label>-->
                        <!--<textarea class="form-control" rows="5" id="comment"></textarea>-->
                    <!--</div>-->
                <!--</form>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Decline</button>-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>



<hr/>

{% if next_page_token %}
<nav>
    <ul class="pager">
        <li><a href="?page_token={{next_page_token}}">More</a></li>
    </ul>
</nav>
{% endif %}

<script>
    $('#confirmModal').on('show.bs.modal', function(e) {

        //get data-id attribute of the clicked element
        var bookingRequestId = $(e.relatedTarget).data('id');

        //populate the textbox
        $(e.currentTarget).find('input[name="bookingRequestId"]').val(bookingRequestId);
    });

    $('#myFormSubmit').click(function(e){
      e.preventDefault();

    $.ajax({
        url: "/bookings/confirm",
        type: "POST",
        data: $("#myForm").serialize(),
        success: function(data){
            alert("Success")
        }
    });

});
</script>

{% endblock %}
