{% block content %}

<div class="container">

    <table id="queue" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Guests</th>
            <th>Unit (Type)</th>
            <th>Ave Rate<br/> per night</th>
            <th>nights</th>
            <th>Name</th>
            <th>Date Requested</th>
            <th>Confirm</th>
            <th>Decline</th>
        </tr>
        </thead>
        <tbody>
        {% for request_info in requests %}
        <tr>
            <td>{{ request_info.booking_request.checkin.strftime('%a, %b %d %Y') }}</td>
            <td>{{ request_info.booking_request.checkout.strftime('%a, %b %d %Y') }}</td>
            <td>{{ request_info.booking_request.guests }}</td>
            <td>{{ request_info.unitgroup.display_name }}</td>
            <td>USD {{ request_info.booking_request.avg_price }}</td>
            <td></td>
            <td>{{ request_info.booking_request.first_name }} {{ request_info.booking_request.last_name }}</td>
            <td>{{ request_info.booking_request.updated_on.strftime('%a, %b %d %Y') }}</td>
            <td><a href="/bookings/add?bookingRequestId={{ request_info.booking_request.id }}" target="_blank" class="btn btn-success btn-sm">Confirm</button></a>
            <!--<td><button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#confirmModal" data-id="{{booking_request.id}}">Confirm</button></td>-->
            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#declineModal" data-id="{{ request_info.booking_request.id }}">Decline</button></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- confirm Modal -->
    <div class="modal fade" id="confirmModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Booking Request</h4>
                </div>
                <div class="modal-body">
                    <p>The confirmation email will be sent shortly to the customer. You will also receive the copy of the email.</p>
                    <form id="confirmForm" method="post">
                        <input type="hidden" name="bookingRequestId" id="bookingRequestId" value=""/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="confirmFormSubmit" type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- decline Modal -->
    <div class="modal fade" id="declineModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Decline Booking Request</h4>
                </div>
                <div class="modal-body">
                    <p>The email will be sent shortly to the customer. You will also receive the copy of the email.</p>
                    <p>Feel free to add a message here (such as suggesting different dates or different units). Your message will be added to the email.</p>
                    <form id="myForm" method="post">
                        <label for="comment">Comment:</label>
                        <input type="text" class="form-control" name="comment" id="comment">
                        <input type="hidden" name="bookingRequestId" id="bookingRequestId" value=""/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="myFormSubmit" type="button" class="btn btn-danger" data-dismiss="modal">Decline</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function() {
        $('#queue').DataTable( {
            "order": [[ 7, "desc" ]],
            "columnDefs": [
              { orderable: false, targets: [8, 9] },

            ],
        }
        );
    });

    $('#confirmModal').on('show.bs.modal', function(e) {

        //get data-id attribute of the clicked element
        var bookingRequestId = $(e.relatedTarget).data('id');

        //populate the textbox
        $(e.currentTarget).find('input[name="bookingRequestId"]').val(bookingRequestId);
    });

    $('#confirmFormSubmit').click(function(e){
        e.preventDefault();

        $.ajax({
            url: "/bookings/confirm",
            type: "POST",
            data: $("#confirmForm").serialize(),
            success: function(data){
                alert("The confirm email will be sent shortly.")
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });


    $('#declineModal').on('show.bs.modal', function(e) {

        //get data-id attribute of the clicked element
        var bookingRequestId = $(e.relatedTarget).data('id');

        //populate the textbox
        $(e.currentTarget).find('input[name="bookingRequestId"]').val(bookingRequestId);
    });

    $('#myFormSubmit').click(function(e){
      e.preventDefault();

        $.ajax({
            url: "/bookings/decline",
            type: "POST",
            data: $("#myForm").serialize(),
            success: function(data){
                alert("The decline email will be sent shortly.")
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });


</script>

{% endblock %}
