{% block content %}

<div class="container">

    <!--<div class="page-header text-center ">-->
        <!--<h2>Declined Booking Requests</h2>-->
    <!--</div>-->

    <table id="declines" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Guests</th>
            <th>Unit (Type)</th>
            <th>Ave Rate<br/> per night</th>
            <th>nights</th>
            <th>Name</th>
            <th>Date Requested</th>
            <th>Date Declined</th>
        </tr>
        </thead>
        <tbody>
        {% for request_info in declines %}
        <tr>
            <td>{{ request_info.booking_request.checkin.strftime('%a, %b %d %Y') }}</td>
            <td>{{ request_info.booking_request.checkout.strftime('%a, %b %d %Y') }}</td>
            <td>{{ request_info.booking_request.guests }}</td>
            <td>{{ request_info.unitgroup.display_name }}</td>
            <td>USD {{ request_info.booking_request.avg_price }}</td>
            <td></td>
            <td>{{ request_info.booking_request.first_name }} {{ request_info.booking_request.last_name }}</td>
            <td>{{ request_info.booking_request.created_on.strftime('%a, %b %d %Y') }}</td>
            <td>{{ request_info.booking_request.updated_on.strftime('%a, %b %d %Y') }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<script>
    $(document).ready(function() {
        $('#declines').DataTable();
    });

</script>

{% endblock %}