
{# [START form] #}
{% extends "base.html" %}

{% block content %}
<h3>{{action}} entry</h3>

<form method="POST" enctype="multipart/form-data">

    <div class="form-group">
        <label for="guestName">Guest Name</label>
        <input type="text" name="guestName" id="guestName" value="{{entry.guestName}}" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="content">Content</label>
        <input type="text" name="content" id="content" value="{{entry.content}}" class="form-control"/>
    </div>

    <!--<div class="form-group">-->
        <!--<label for="publishedDate">Date Published</label>-->
        <!--<input type="text" name="publishedDate" id="publishedDate" value="{{entry.publishedDate}}" class="form-control"/>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label for="description">Description</label>-->
        <!--<textarea name="description" id="description" class="form-control">{{entry.description}}</textarea>-->
    <!--</div>-->

    <button type="submit" class="btn btn-success">Save</button>
</form>

{% endblock %}
{# [END form] #}
