/*
.navbar-inverse {
    background-color: #62BDC1;
    border-color: #E7E7E7;
}
*/

.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}

/* calendar table button */
.table-responsive.calendar .btn-info,
.table-responsive.calendar .btn-default,
.table-responsive.calendar .btn-danger {
    width: 45px;
}

/* animation for the time slot to flash red */
@keyframes flashBooked {
  0%, 100%  { background:#f2dede; transform:scale(1); }
  50%       { background:#F99090; transform:scale(1.5); }
}

/* animation for the time slot to flash green */
@keyframes flashAvailable {
  0%, 100%  { background:#6AB074; transform:scale(1); }
  50%       { background:rgb(119, 218, 78); transform:scale(1.5); }
}
