{% extends "base.html" %}

{% block content %}
<h2><span class="label label-primary">{{action}} Booking</span></h2>
<div class="col-xs-12" style="height:30px;"></div>
<hr/>

<form method="POST" action="{{ url_for('.add') }}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="guests">First Name</label>
        <input type="text" name="first_name" id="first_name" value="{{booking.first_name}}" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="guests">Last Name</label>
        <input type="text" name="last_name" id="last_name" value="{{booking.last_name}}" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="{{booking.email}}" class="form-control"/>
    </div>
    <hr/>

    <div class="row">
        <div class='col-sm-3'>
            <div class="form-group">
                <label for="begin_on">Check In</label>
                <div class='input-group date' id='datepicker1'>
                    <input type="text" name="begin_on" id="begin_on" value="{{ booking.begin_on.strftime('%Y-%m-%d') if booking.begin_on  }}" class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-sm-3'>
        <div class="form-group">
            <label for="end_on">Check Out</label>
            <div class='input-group date' id='datepicker2'>
                <input type="text" name="end_on" id="end_on" value="{{ booking.end_on.strftime('%Y-%m-%d') if booking.end_on  }}" class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
        </div>
        </div>
        <div class='col-sm-3'>
            <div class="form-group">
                <label for="guests">Guests</label>
                <div class='input-group guests'>
                    <input type="text" name="guests" id="guests" value="{{booking.guests}}" class="form-control"/>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var checkin = '{{booking.begin_on}}';
            var checkout = '{{booking.end_on}}';
            $(function () {
                $('#datepicker1').datepicker({
                    setDate: checkin,
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    todayHighlight: true,
                    startDate: new Date(),
                    orientation:'top auto'
                });
                $('#datepicker2').datepicker({
                    setDate: checkout,
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    todayHighlight: true,
                    startDate: new Date(),
                    orientation:'top auto'

                });
                //);
            });
        </script>
    </div>

    <div class="form-group">
        <label for="unit_name">Select Unit</label>
        <select class="form-control" id="unit_name" name="unit_name">

            {% for unit in units %}
            <option value="{{ unit.name }}">{{ unit.display_name }}</option>
            {% endfor %}

        </select>
        <span class="label label-default">Note</span> The selected Unit must be available to be able to proceed to next step.
    </div>

    <div class="form-group">
        <label for="notes">Notes</label>
        <input type="text" name="notes" id="notes" value="{{ booking.notes | default('', true) }}" class="form-control"/>
    </div>

    <hr/>

    <button type="submit" class="btn btn-success btn-lg">Create Booking</button>
</form>

{% endblock %}



