{% block content %}

<div class="container">

    <div class="col-xs-12" style="height:30px;"></div>

    <!--<table class="table table-hover">-->
    <table id="bookings" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Guests</th>
            <th>Unit Name</th>
            <th>Booked Rate <br/> per night(rounded)</th>
            <th>Name</th>
            <th>Email</th>
            <th>Booking Code</th>

            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for booking_info in booking_info_list %}
        <tr>
            <td>{{ booking_info.booking.begin_on.strftime('%a, %b %d %Y') }}</td>
            <td>{{ booking_info.booking.end_on.strftime('%a, %b %d %Y') }}</td>
            <td>{{ booking_info.booking.guests }}</td>
            <td>{{ booking_info.unit.display_name }}</td>
            <td>USD {{ booking_info.booking.booked_rate }}</td>
            <td>{{ booking_info.booking.first_name}} {{ booking_info.booking.last_name }}</td>
            <td>{{ booking_info.booking.email}}</td>
            <td>{{ booking_info.booking.id }}</td>

            <td>
                <div class="btn-group">
                    <a href="/bookings/{{ booking_info.booking.id }}" class="btn btn-primary btn-sm">
                        <i class="glyphicon glyphicon-edit"></i>
                        View
                    </a>
                </div>
            </td>
            <td>
                <div class="btn-group">
                    <a href="/bookings/{{ booking_info.booking.id }}/edit" class="btn btn-info btn-sm">
                        <i class="glyphicon glyphicon-edit"></i>
                        Edit
                    </a>
                </div>
            </td>
            <td>
                <div class="btn-group">
                    <a href="/bookings/{{ booking_info.booking.id }}/delete" class="btn btn-danger btn-sm">
                        <i class="glyphicon glyphicon-trash"></i>
                        Delete
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('#bookings').DataTable({
            "order": [[ 1, "asc" ]],
            "columnDefs": [
              { orderable: false, targets: [8, 9, 10] },
            ],
        }
        );
    });

</script>

{% endblock %}

