{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="page-header text-center">
    <h2>Manage Bookings
        <a href="/bookings/add" class="btn btn-info btn-sm">
            <i class="glyphicon glyphicon-plus"></i>
            New Booking
        </a>
    </h2>
    </div>

    <div class="col-xs-12" style="height:30px;"></div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Edit</th>
            <th>Delete</th>
            <th>Booking Code</th>
            <th>Unit Name</th>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Guests</th>
            <th>Booked Rate <br/> per night(rounded)</th>
            <th>Name</th>
            <th>Email</th>
            <!--<th>Booked On</th>-->
            <!--<th>Updated On</th>-->
        </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
        <tr>
            <td>
                <div class="btn-group">
                    <a href="/bookings/{{booking.id}}/edit" class="btn btn-info btn-sm">
                        <i class="glyphicon glyphicon-edit"></i>
                        Edit
                    </a>
            </div>
            </td>
            <td>
                <div class="btn-group">
                    <a href="/bookings/{{booking.id}}/delete" class="btn btn-danger btn-sm">
                        <i class="glyphicon glyphicon-trash"></i>
                        Delete
                    </a>
                </div>
            </td>

            <td>{{booking.id}}</td>
            <td>{{booking.unit_name}}</td>
            <td>{{booking.begin_on}}</td>
            <td>{{booking.end_on}}</td>
            <td>{{booking.guests}}</td>
            <td>USD {{booking.booked_rate}}</td>
            <td>{{booking.first_name}} {{booking.last_name}}</td>
            <td>{{booking.email}}</td>
            <!--<td>{{booking.created_on}}</td>-->
            <!--<td>{{booking.updated_on}}</td>-->
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    {% if next_page_token %}
    <nav>
    <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
    </ul>
    </nav>
    {% endif %}

{% endblock %}