{% extends "base.html" %}
{% block content %}

<div class="page-header text-center">
    <h2>Manage Calendar</h2>
</div>

{% include "calendar/list.html" %}

<hr/>
<!--<h2><span class="label label-primary"> Bookings in this period </span>-->
    <!--<small><a href="/bookings">-->
        <!--Full view-->
    <!--</a></small>-->
<!--</h2>-->

<div class="page-header text-center ">
    <h2>Bookings in this period
        <small><a href="/bookings">
        Full view
        </a></small>
    </h2>

</div>

{% include "booking/list.html" %}

{% endblock %}