{% extends "base.html" %}
{% block content %}

<div class="page-header text-center">
    <h2>Manage Calendar
    </h2>
</div>

<div class="row text-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <a href="/bookings/calendar/{{ units[0].resortName }}/2016-10-01" class="btn btn-info calendar-mo">Oct</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2016-11-01" class="btn btn-info calendar-mo">Nov</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2016-12-01" class="btn btn-info calendar-mo">Dec</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2017-01-01" class="btn btn-info calendar-mo">Jan</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2017-02-01" class="btn btn-info calendar-mo">Feb</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2017-03-01" class="btn btn-info calendar-mo">Mar</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2017-04-01" class="btn btn-info calendar-mo">Apr</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2017-05-01" class="btn btn-info calendar-mo">May</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2017-06-01" class="btn btn-info calendar-mo">June</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2017-07-01" class="btn btn-info calendar-mo">Jul</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2017-08-01" class="btn btn-info calendar-mo">Aug</a>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-6">
        <a href="/bookings/calendar/{{ units[0].resortName }}/{{ units[0].first_date }}?prev=true" class="btn btn-primary">Previous</a>
    </div>
    <div class="col-md-6" align="right">
        <a href="/bookings/calendar/{{ units[0].resortName }}/{{ units[0].first_date }}?next=true" class="btn btn-primary">Next</a>
    </div>
</div>

<div class="table-responsive calendar">
<table class="table">
    <thead>
    <tr>
        <th><span></span></th>
        {% for info in units[0].statusInfoList %}
            {% if units[0].statusInfoList.index(info) == 0 %}
            <th colspan="7"><h4><span> {{ info.month }} {{ info.year }} </span></h4></th>
            {% endif %}

            {% if units[0].statusInfoList.index(info) == 13 %}
            <th colspan="7" class="not_mapped_style" style="text-align:right"><h4><span>{{ info.month }} {{ info.year }}</span></h4></th>
            {% endif %}
        {% endfor %}
    </tr>
    <tr>
        <th><span></span></th>
        {% for info in units[0].statusInfoList %}
            <th><span>{{ info.weekday }}</span></th>
        {% endfor %}
    </tr>
    <tr>
        <th><span></span></th>
        {% for info in units[0].statusInfoList %}
            <th><span>{{ info.day }}</span></th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for unit in units %}
        <tr>
        <td><strong>{{ unit.displayName }}</strong></td>
        {% for info in unit.statusInfoList %}
            {% if info.status %}
                <!--available-->
                <!--<td class="info">-->
                <td>
                    <button type="button" class="btn btn-info btn-sm" center-block data-toggle="modal" data-target="#editStatusModal">
                    <!--<button type="button" class="btn btn-info btn-sm" center-block data-toggle="modal" data-target="#editStatusModal" data-id="{{ info.availId }}">-->
                    {{ info.price }}
                    </button>
                </td>
            {% else %}
                <!--not available-->
                <!--<td class="danger">-->
                <td>
                    {% if info.bookingId %}
                        <a href="/bookings/{{ info.bookingId }}/modal" data-target="#bookingModal" class="btn btn-danger btn-sm" enter-block data-toggle="modal">
                        {{ info.price }}
                            </a>
                        <!--</button>-->
                    {% else %}
                        <button type="button" class="btn btn-default btn-sm" center-block data-toggle="modal" data-target="#editStatusModal">
                        {{ info.price }}
                        </button>
                    {% endif %}
                </td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div>
    <span class="badge alert-info">Available</span>
    <span class="badge alert-danger">Booked</span>
    <span class="badge alert-default">Blocked by Admin</span>
</div>
<hr/>

<span class="badge alert-default">Prices</span> exclude Tax <br/>
{% if units[0].resortName == 'kurt' %}
    <span class="badge alert-default">info</span>
    Prices shown based on <strong>Double Occupancy</strong><br/>
    <span class="badge alert-default">info</span>
    Subtract 15 USD for <strong>Single Occupancy</strong> for Room 1 4 5 8 9 <br/>
    <span class="badge alert-default">info</span>
    Subtract 10 USD for <strong>Single Occupancy</strong> for Room 2 3 6 7 <br/>
{% endif %}


{% if units[0].resortName == 'bj' %}
    <span class="badge alert-default">info</span>
    Prices shown based on <strong>Double Occupancy</strong><br/>
    <span class="badge alert-default">info</span>
    Subtract 10 USD for <strong>Single Occupancy</strong> <br/>
    <span class="badge alert-default">info</span>
    Add 10 USD for <strong>Triple Occupancy</strong> ( for Room 2 3 4 5 6 only ) <br/>
{% endif %}


<!-- View Booking Modal -->
<div class="modal fade modal-lg" id="bookingModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>

        <!--<div class="modal-header">-->
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
            <!--<div class="modal-content">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--</div>-->
    </div>
</div>

<!-- Edit Status Modal -->
<div class="modal fade" id="editStatusModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Status</h4>
            </div>
            <div class="modal-body">
                <p>You are about to change the status of this date. </p>
                <!--<form id="confirmForm" method="post">-->
                    <!--<input type="hidden" name="bookingRequestId" id="bookingRequestId" value=""/>-->
                <!--</form>-->
            </div>
            <div class="modal-footer">
                <button id="confirmEdit" type="button" class="btn btn-info" data-dismiss="modal">Change</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
