{% block content %}

<div class="row text-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <a href="/bookings/calendar/{{ units[0].resortName }}/2016-10-01" class="btn btn-info calendar-mo">Oct</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2016-11-01" class="btn btn-info calendar-mo">Nov</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2016-12-01" class="btn btn-info calendar-mo">Dec</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2017-01-01" class="btn btn-info calendar-mo">Jan</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2017-02-01" class="btn btn-info calendar-mo">Feb</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2017-03-01" class="btn btn-info calendar-mo">Mar</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2017-04-01" class="btn btn-info calendar-mo">Apr</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2017-05-01" class="btn btn-info calendar-mo">May</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2017-06-01" class="btn btn-info calendar-mo">June</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2017-07-01" class="btn btn-info calendar-mo">Jul</a>
        <a href="/bookings/calendar/{{ units[0].resortName }}/2017-08-01" class="btn btn-info calendar-mo">Aug</a>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-6">
        <a href="/bookings/calendar/{{ units[0].resortName }}/{{ units[0].firstDate }}?prev=true" class="btn btn-primary">Previous</a>
    </div>
    <div class="col-md-6" align="right">
        <a href="/bookings/calendar/{{ units[0].resortName }}/{{ units[0].firstDate }}?next=true" class="btn btn-primary">Next</a>
    </div>
</div>

<div class="table-responsive calendar">
<table class="table">
    <thead>
    <tr>
        <th><span></span></th>
        {% for info in units[0].statusInfoList %}
            {% if units[0].statusInfoList.index(info) == 0 %}
            <th colspan="7"><h4><span> {{ info.month }} {{ info.year }} </span></h4></th>
            {% endif %}

            {% if units[0].statusInfoList.index(info) == 13 %}
            <th colspan="7" class="not_mapped_style" style="text-align:right"><h4><span>{{ info.month }} {{ info.year }}</span></h4></th>
            {% endif %}
        {% endfor %}
    </tr>
    <tr>
        <th><span></span></th>
        {% for info in units[0].statusInfoList %}
            <th><span>{{ info.weekday }}</span></th>
        {% endfor %}
    </tr>
    <tr>
        <th><span></span></th>
        {% for info in units[0].statusInfoList %}
            <th><span>{{ info.day }}</span></th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for unit in units %}
        <tr>
        <td><strong>{{ unit.displayName }}</strong></td>
        {% for info in unit.statusInfoList %}
            {% if info.status %}
                <!-- available -->
                <td>
                    <a data-toggle="modal" data-target="#editStatusModal" center-block data-toggle="modal"
                        data-unit_id="{{ info.unitId }}"
                        data-date_slot="{{ info.date }}"
                        data-avail_id="{{ info.availId }}"
                        data-status="{{ info.status }}"
                        class="btn btn-info btn-sm">
                        {{ info.price }}
                    </a>
                </td>
            {% else %}
                <td>
                {% if info.bookingId %}
                    <!-- booked -->
                    <a href="/bookings/{{ info.bookingId }}/partial" data-target="#bookingModal" class="btn btn-danger btn-sm" enter-block data-toggle="modal">
                        {{ info.price }}
                        </a>
                {% else %}
                    <!-- unavailable -->
                    <a data-toggle="modal" data-target="#editStatusModal" center-block data-toggle="modal"
                       data-unit_id="{{ info.unitId }}"
                       data-date_slot="{{ info.date }}"
                       data-avail_id="{{ info.availId }}"
                       data-status="{{ info.status }}"
                       class="btn btn-default btn-sm">
                        {{ info.price }}
                    </a>
                {% endif %}
                </td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div>
    <span class="badge alert-info">Available</span>
    <span class="badge alert-danger">Booked</span>
    <span class="badge alert-default">Unavailable</span> (Marked as unavailable by Admin)
</div>
<hr/>

<span class="badge alert-default">Prices</span> exclude Tax <br/>
{% if units[0].resortName == 'kurt' %}
    <span class="badge alert-default">info</span>
    Prices shown based on <strong>Double Occupancy</strong><br/>
    <span class="badge alert-default">info</span>
    Subtract 15 USD for <strong>Single Occupancy</strong> for Room 1 4 5 8 9 <br/>
    <span class="badge alert-default">info</span>
    Subtract 10 USD for <strong>Single Occupancy</strong> for Room 2 3 6 7 <br/>
{% endif %}


{% if units[0].resortName == 'bj' %}
    <span class="badge alert-default">info</span>
    Prices shown based on <strong>Double Occupancy</strong><br/>
    <span class="badge alert-default">info</span>
    Subtract 10 USD for <strong>Single Occupancy</strong> <br/>
    <span class="badge alert-default">info</span>
    Add 10 USD for <strong>Triple Occupancy</strong> ( for Room 2 3 4 5 6 only ) <br/>
{% endif %}


<!-- View Booking Modal -->
<div class="modal fade" id="bookingModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="modal-content">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<!-- Edit Status Modal -->
<div class="modal fade" id="editStatusModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Availability Status</h4>
            </div>
            <div class="modal-body">
                <p><span class="badge alert-danger">!</span> You are about to change the status to <strong><span id ="message"/></strong> for this date. </p>
                <form id="confirmForm" method="post">
                    <input type="hidden" name="avail_id" id="avail_id" value=""/>
                    <input type="hidden" name="unit_id" id="unit_id" value=""/>
                    <input type="hidden" name="date_slot" id="date_slot" value=""/>
                    <input type="hidden" name="status" id="status" value=""/>
                </form>
            </div>
            <div class="modal-footer">
                <button id="confirmFormSubmit" type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#editStatusModal').on('show.bs.modal', function(e) {

        //get data-id attribute of the clicked element
        var action_name = $(e.relatedTarget).data('action_name');
        var unit_id = $(e.relatedTarget).data('unit_id');
        var date_slot = $(e.relatedTarget).data('date_slot');
        var avail_id = $(e.relatedTarget).data('avail_id');
        var status = $(e.relatedTarget).data('status');
        console.log (action_name)
        console.log (unit_id)
        console.log (date_slot)
        console.log (avail_id)
        console.log (status)

        // set message properly depending on the current status
        if (status) {
            $('.modal-body #message').text('unavailable');
        } else {
            $('.modal-body #message').text('available');
        }
        //populate the textbox
        $(e.currentTarget).find('input[name="action_name"]').val(action_name);
        $(e.currentTarget).find('input[name="avail_id"]').val(avail_id);
        $(e.currentTarget).find('input[name="unit_id"]').val(unit_id);
        $(e.currentTarget).find('input[name="date_slot"]').val(date_slot);
        $(e.currentTarget).find('input[name="status"]').val(status);
    });


    $('#confirmFormSubmit').click(function(e){
        e.preventDefault();

        $.ajax({
            url: "/bookings/calendar/edit",
            type: "POST",
            data: $("#confirmForm").serialize(),
            success: function(data){
                console.log(data)
                alert("Update Success")
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
                console.log(data)
            }
        });
    });
</script>

{% endblock %}
